
@import url('https://fonts.cdnfonts.com/css/asgard-trial');
@import url('https://fonts.cdnfonts.com/css/dancing-script');
@import url('https://fonts.cdnfonts.com/css/poppins');
p span.change-fonts {
    font-family: 'Poppins' !important;
}
li.menu-mob {
    display: none;
}
ul.menu-list a {
    color: #000;
    text-decoration: unset;
}
.menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ul.menu-list-item a {
    color: #000;
    text-decoration: unset;
}
.mobile-menu-icon {
    display: none;
}

#mobile-menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 40px;
    padding: 4px 12px;
}

.gallery-section-mobile {
    display: none !important;
}



h1,h2,h3,h5,p,a {
    font-family: 'Asgard Trial', sans-serif;
}
#events-section .card-body .btn:hover {
    background-color: #fff;
    color: #da1d45;
    box-shadow: 0px 0px 12px 5px #fb829c;
}
.banner-3 .banner-main-heading h1 {
    color:#fff;
    -webkit-text-stroke: 1px #000;
}
.banner-btn a:hover, .img-txt-btn a:hover, .event-content a.event-button:hover, .card-body a.btn:hover, .gallery-btn a.btn.btn-danger.px-4.py-2:hover, .footer-contact form button:hover {
    background-color: #fff;
    color: #da1d45;
    border: 1px solid;
    box-shadow: 0px 0px 11px 1px #edbdbd;
}
.swiper-slide.banner-slider.banner-3 {
    background-image: url("assets/images/4 slider.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-3 .banner-img {
    opacity: 0;
}
section#home-banner .container {
    max-width: 1550px;
}
.banner-txt {
    padding-right: 130px;
}
.event-card i.fa-solid {
    font-size: 21px;
    margin-right: 5px;
    margin-top: 8px;
}
.banner-main-heading h1 {
    font-size: 95px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 95px;
    color: #460a2e;
}
.banner-subheading h4 {
    font-family: 'Dancing Script', sans-serif;
    color: #e81758;
    font-size: 115px;
    margin-bottom: -25px;
}
section#home-banner .swiper-pagination.custom-swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
}
.banner-btn a, .img-txt-btn a, .event-content a.event-button, .card-body a.btn, .gallery-btn a.btn.btn-danger.px-4.py-2, .footer-contact form button {
    padding: 13px 31px !important;
    background-color: #da1d45;
    border-radius: 40px;
    color: #fff;
    text-decoration: unset;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Asgard Trial', sans-serif;
}
.banner-btn, .img-txt-btn {
    margin-top: 40px;
}
section#upcoming-events .event-card {
    border: 1px solid;
}
.img-txt-main-heading h1 {
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
}
.img-txt-subheading h4 {
    color: #e81758;
    font-family: 'Dancing Script', sans-serif;
    font-size: 55px;
    margin-bottom: -20px;
}
header .container {
    padding: 20px 0px;
}
div#header-menu-col {
    display: flex;
    align-items: center;
}
div#header-menu-col .menu-list ul.menu-list-item.d-flex {
    list-style: none;
    gap: 40px;
}
div#header-social-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
div#header-social-col h4 {
    font-size: 16px;
    margin-bottom: 0px !important;
    font-family: 'Asgard Trial';
}
div#header-menu-col .menu-list ul.menu-list-item.d-flex li {
    font-family: 'Asgard Trial';
    font-weight: 500;
}
.img-txt-section .container {
    max-width: 1560px;
}
.header-txt {
    align-items: center;
    display: flex;
}
.logo_img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_img img.img-fluid {
    max-width: 50% !important;
}
section#home-banner .container-fluid {
    margin-top: -175px !important;
    padding: 0px;
    position: relative;
    z-index: 0 !important;
}
.banner-txt p {
    font-size: 18px;
}
.banner-slider {
    padding: 220px 0px 80px 0px;
    margin-top: 0px;
    background-image: url("assets/images/Rectangle 15 copy.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    z-index: 0 !important;
}
#banner-content-col {
    display: flex;
    align-items: center;
}
header {
    z-index: 999 !important;
    position: relative;
}
#events-section .card-body h5.fw-bold, #events-section .card-body p {
    color: #fff;
}
#events-section .card-body p {
    font-size: 14px;
}

#events-section .card-body .btn {
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 13px 31px;
    font-size: 14px;
    font-family: 'Asgard Trial';
}
.social-icon.d-flex {
    justify-content: center;
}
.banner-content {
    text-align: left;
}
.social-icon.d-flex img.img-fluid {
    max-width: 18% !important;
    margin-left: 10px;
}
div#img-txt-col {
    align-items: center;
    display: flex;
        padding-left: 100px;
}
.img-txt-txt {
    padding-right: 125px;
    color:#000;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 6px solid #dc3545;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

span.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    color: red;
    background-color: red;
}
.img-txt-txt p {
    font-size: 15px;
}
.img-txt-section {
    background-image: url(assets/images/img-txt-bg_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 10px 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card.border-0.shadow-lg {
    background-color: #da1d45;
    box-shadow: unset !important;
}
.img-txt-img-col {
    display: flex;
    align-items: center;
}
section#gallery-section {
    background-image: url(assets/images/2_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 10px 120px !important;
}
section#gallery-section .heading-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section#events-section {
    padding: 80px 10px !important;
}
.gallery-heading {
    text-align: left;
}

.gallery-heading h2 span {
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
    margin-bottom: -30px;
}
.gallery-img-1 {
    margin-bottom: 20px;
}

.gallery-img-3 {
    margin-bottom: 20px;
}
.gallery-img-1.img-5 img {
    width: 100%;
    height: 29vw !important;
}
.events-sec-subheading h4 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
    margin-bottom: -10px;
}

.events-sec-heading {
    width: 60%;
    margin: auto;
}

.events-sec-heading h2 {
    font-size: 45px;
}
p.event-location strong {
    font-weight: 800;
}
.mob-banner-cts {
    display: none;
}

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
    }
    .reviews-headings h2 {
    font-weight: 700;
    font-size: 40px;
}

#customer-reviews #reviewsCarousel .swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    padding-bottom: 80px;
}
.reviews-headings h4 {
    color: #dc3545;
    font-family: 'Dancing Script', sans-serif;
    font-size: 38px;
    margin-bottom: -10px;
}
       #upcoming-events {
        background-color: #E3F9FA;
        padding: 60px 0;
        text-align: center;
    }
    .section-subheading {
        font-size: 40px;
        font-family: 'Dancing Script', sans-serif;
        color: #E63946;
        margin-bottom: -10px;
    }
   #upcoming-events h2.section-heading {
    width: 45%;
    margin: 0px auto;
}
    .section-heading {
        font-size: 40px;
        font-weight: 600;
        color: #000;
    }
    .event-card {
        display: flex;
        background: #fff;
        border-radius: 25px;
        padding: 25px 40px 25px 25px;
        align-items: center;
        max-width: 90%;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
.event-content h4.event-title:after {
    position: relative;
    width: 18%;
    height: 1px;
    background-color: red;
    content: '';
    display: block;
    margin: 15px 0px 20px;
}
    .event-content h4 {
    font-family: 'Asgard Trial', sans-serif;
        font-size: 22px;
}
    .event-image img {
        width: 550px;
        height: auto;
        border-radius: 10px;
    }
    .event-content {
        padding-left: 60px;
        text-align: left;
    }
p.event-location span {
    font-weight: 900 !important;
}
    .event-date, .event-location {
    font-size: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
        font-weight: 500;
}
    .event-title {
        font-size: 24px;
        font-weight: bold;
        color: #000;
    }
    .event-description {
        font-size: 16px;
        color: #000;
    }
    .event-button {
        display: inline-block;
        padding: 10px 20px;
        background: #def8f5;
        color: #fff;
        border-radius: 8px;
        text-decoration: none;
        margin-top: 10px;
    }
    .event-button:hover {
        background: #C62839;
    }
    i.fa-solid.fa-calendar-days, i.fa-solid.fa-location-dot {
    color: #dc3545;
}
.gallery-heading h2.fw-bold {
    font-size: 40px;
}

.review-card.p-4.bg-white.rounded.shadow {
    border-radius: 30px !important;
}

div#reviewsCarousel p.mb-0.text-start {
    font-size: 15px;
    color:#000;
}

strong.text-danger {
    margin-top: 10px;
}
.gallery-img-1.inner-row-1 {
    margin-bottom: 27px;
}

footer .container {
    max-width: 1550px;
}
footer {
    background: #17080f;
    color: #fff;
    padding: 80px 0px 20px;
}

.footer-logo img {
    width: 70%;
    margin-bottom: 45px;
}
.footer-logo p strong {
    font-family: 'Asgard Trial';
}
.footer-logo p {
    font-size: 14px;
    margin-bottom: 8px;
}
form button {
    border: unset;
    margin-top: 15px;
}
.footer-contact h3,
.footer-social h3 {
    font-size: 20px;
    margin-bottom: 15px;
        font-weight: 400;

}
.footer-social {
    padding-left: 80px;
}
.footer-contact form input,
.footer-contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: #2b1b1b;
    color: #fff;
    border-radius: 5px;
}


::placeholder {
    color: #fff;
    font-family: 'Asgard Trial';
    font-weight: 300;
    font-size: 13px;
}
.footer-contact form button:hover {
    background: #c2185b;
    color: #fff;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    margin-bottom: 10px;
}
.footer-form-input {
    display: flex;
    gap: 10px;
}
.footer-logo p {
    font-family: 'Poppins';
}
.footer-social ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-social ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid #fff;
    margin-top: 30px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-menu li {
    margin: 0 10px;
}
.social-icon.footer-social-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-icon.footer-social-icon img.img-fluid {
    width: 45px;
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid;
    margin-top: 20px;
}
.footer-copyright .footer-bottom.txt-cts {
    border: unset;
}
.footer-copyright .footer-menu li a {
    font-size: 15px;
    font-family: 'Poppins';
    text-decoration: none;
}
.footer-social-content {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-social-content p {
    margin-bottom: 0px;
}

.footer-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.info-footer-cts {
    display: flex;
    gap: 24px;
}
.footer-bottom p {
    font-size: 14px;
}

.footer-bottom a {
    color: #e91e63;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
div#reviewsCarousel .swiper-slide {
    border-radius: 30px !important;
}


@media (max-width: 1750px) {
    .gallery-img-1.img-5 img {
    width: 100%;
    height: 34.5vw !important;
}
section#home-banner .container, .img-txt-section .container, footer .container {
    max-width: 1400px;
}
    .banner-main-heading h1 {
    font-size: 90px;
    line-height: 90px;
}
.banner-subheading h4 {
    font-size: 85px;
    margin-bottom: -25px;
}
.img-txt-txt {
    padding-right: 80px;
}
.banner-slider {
    padding: 180px 0px 40px 0px;
}
div#reviewsCarousel .swiper-slide {
    border-radius: 30px !important;
    width: 615px !important;
    margin: 0px 19px !important;
}
    
}
@media (max-width: 1650px) {
    
    .gallery-img-1.img-5 img {
    height: 33.5vw !important;
}
section#home-banner .container, .img-txt-section .container, footer .container {
    max-width: 1320px;
}
.img-txt-txt {
    padding-right: 60px;
}
.banner-slider {
    padding: 150px 0px 30px 0px;
}

    
    
}
@media (max-width: 1600px) {
    .gallery-img-1.img-5 img {
    height: 34.5vw !important;
}


    
}
@media (max-width: 1550px) {
    .gallery-img-1.img-5 img {
    height: 36vw !important;
}


    
}
@media (max-width: 1440px) {
    .gallery-img-1.img-5 img {
    height: 38.5vw !important;
}
    .footer-social {
    padding-left: 50px;
}
    section#home-banner .container, .img-txt-section .container, footer .container {
    max-width: 1150px;
}
    div#img-txt-col {
    padding-left: 50px;
}
   .img-txt-txt {
    padding-right: 25px;
    color: #000;
}
    .banner-subheading h4 {
    font-size: 80px;
    margin-bottom: -25px;
}
    .banner-txt {
    padding-right: 50px;
}
    .banner-main-heading h1 {
    font-size: 75px;
    line-height: 75px;
}



    
}
@media (max-width: 1366px) {
 
    .gallery-img-1.img-5 img {
    height: 35vw !important;
}
    .event-image img {
    width: 430px;
}
    #upcoming-events h2.section-heading {
    width: 55%;
    margin: 0px auto;
}
div#reviewsCarousel .swiper-slide {
        width: 525px !important;
}


    
}
@media (max-width: 1336px) {
    .gallery-img-1.img-5 img {
        height: 36vw !important;
    }
    .footer-contact h3, .footer-social h3 {
    font-size: 18px;
}
    .banner-btn a, .img-txt-btn a, .event-content a.event-button, .card-body a.btn, .gallery-btn a.btn.btn-danger.px-4.py-2, .footer-contact form button {
    padding: 12px 25px !important;
    font-size: 14px;
}
    .info-footer-cts {
    gap: 10px;
}
    .banner-subheading h4 {
        font-size: 75px;
        margin-bottom: -20px;
    }



    
}
@media (max-width: 1280px) {

.img-txt-txt p {
    font-size: 14px;
}
    .gallery-img-1.img-5 img {
        height: 37.5vw !important;
    }
        section#home-banner .container, .img-txt-section .container, footer .container {
        max-width: 1080px;
    }
    .img-txt-main-heading h1 {
    font-size: 40px;
}
    .img-txt-txt {
        padding-right: 0px;
    }
        .footer-social {
        padding-left: 30px;
    }
    
}
@media (max-width: 1114px) {
    
    section#home-banner .container, .img-txt-section .container, footer .container {
        max-width: 950px;
    }
    .banner-txt p {
    font-size: 14px;
}
.img-txt-section {
    padding: 60px 10px 60px;
}
.banner-subheading h4 {
    font-size: 60px;
}
.banner-main-heading h1 {
    font-size: 55px;;
    line-height: 55px;
}
.banner-btn a, .img-txt-btn a, .event-content a.event-button, .card-body a.btn, .gallery-btn a.btn.btn-danger.px-4.py-2, .footer-contact form button {
    padding: 13px 28px;
    font-size: 13px;
}
div#header-menu-col .menu-list ul.menu-list-item.d-flex {
    gap: 35px;
}
    .header-txt {
    width: 40%;
}
div#header-social-col h4 {
    font-size: 14px;
}
.social-icon.d-flex {
    width: 60%;
}
div#header-menu-col .menu-list ul.menu-list-item.d-flex li {
    font-size: 14px;
}
div#img-txt-col {
    padding-left: 20px;
}
    .img-txt-main-heading h1 {
    font-size: 35px;
}
.img-txt-subheading h4 {
    font-size: 40px;
    margin-bottom: -15px;
}
.img-txt-txt {
        padding-right: 15px;
}
.img-txt-txt p {
    font-size: 14px;
}
.events-sec-heading h2 {
    font-size: 34px;
}
.events-sec-heading {
    width: 65%;
}
    .card-body h5 {
    font-size: 18px;
}
    #events-section .card-body .btn {
        padding: 10px 25px !important;
        font-size: 13px;
    }  
#upcoming-events h2.section-heading {
        width: 65%;
        margin: 0px auto;
}
    .section-heading {
    font-size: 35px;
}
    .event-content {
    padding-left: 25px;
}
    .event-description {
    font-size: 13px;
}
.event-content h4.event-title:after {
    margin: 8px 0px 12px;
}
 .event-date, .event-location {
    font-size: 12px;
}   
    .gallery-heading h2.fw-bold {
    font-size: 35px;
}
        .gallery-img-1.img-5 img {
        height: 35.5vw !important;
    }
  
    .gallery-img-1.inner-row-1 {
    margin-bottom: 16px;
}
    .reviews-headings h2 {
    font-size: 34px;
}
    div#reviewsCarousel p.mb-0.text-start {
    font-size: 13px;
}
        .event-image img {
        width: 350px;
    }
    .event-content h4 {
    font-size: 18px;
}
        div#reviewsCarousel .swiper-slide {
        width: 436px !important;
    }

    
}
@media (max-width: 1024px) {
          .gallery-img-1.img-5 img {
        height: 39vw !important;
    }
section#home-banner .container, .img-txt-section .container, footer .container {
        max-width: 925px;
}
.img-txt-section {
        padding: 40px 10px 40px;
}
.footer-logo p {
    font-size: 12px;
    margin-bottom: 5px;
}
.footer-contact h3, .footer-social h3 {
        font-size: 16px;
}
.footer-menu li a {
    font-size: 16px;
}
        .footer-social {
        padding-left: 30px;
    }
        .img-txt-txt p {
        font-size: 12px;
    }



    
}
@media (max-width: 884px) {

    ul.menu-list a {
    font-size: 14px;
}
    .menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 8px;
    padding: 0px !important;
}


        section#home-banner .container, .img-txt-section .container, footer .container {
        max-width: 810px;
    }
    .img-txt-main-heading h1 {
        font-size: 28px;
    }
        .img-txt-section {
        padding: 24px 10px 25px;
    }
    section#events-section {
    padding: 30px 10px !important;
}
        .events-sec-heading h2 {
        font-size: 28px;
    }
        #upcoming-events h2.section-heading {
        width: 75%;
    }
        .section-heading {
        font-size: 28px;
    }
    .gallery-heading h2.fw-bold {
        font-size: 28px;
    }
    .gallery-img-1.img-5 img {
        height: 33vw !important;
    }
        .reviews-headings h2 {
        font-size: 28px;
    }
        div#header-menu-col .menu-list ul.menu-list-item.d-flex {
        gap: 10px;
        padding-left: 0px;
    }
    .card-body {
    padding: 10px 0px;
}
        .card-body h5 {
        font-size: 16px;
    }
    #events-section .card-body p {
    font-size: 13px;
    margin-bottom: 10px;
}
    .social-icon.d-flex img.img-fluid {
    max-width: 20% !important;
    margin-left: 4px;
}
div#header-social-col h4 {
        font-size: 13px;
    }
        .event-image img {
        width: 300px;
    }
    .event-description {
        font-size: 12px;
        margin-bottom: 6px;
    }
        .event-content h4 {
        font-size: 15px;
    }
    .event-content a.event-button {
        padding: 12px 20px !important;
        font-size: 11px !important;
    }
    .event-card {
    max-width: 100%;
}
        .event-image img {
        width: 300px;
    }
    .event-card i.fa-solid {
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}
    .social-icon.footer-social-icon img.img-fluid {
    width: 36px;
}
    .footer-social {
        padding-left: 25px;
    }
    section#gallery-section {
    padding: 50px 10px 70px !important;
}
    div#reviewsCarousel .swiper-slide {
        width: 670px !important;
        margin: 0px 22px !important;
    }
    .footer-form-input {
    gap: 10px;
    flex-direction: column;
}
        .banner-main-heading h1 {
        font-size: 49px;
        line-height: 45px;
    }
    .banner-subheading h4 {
        font-size: 50px;
    }
        .banner-txt p {
        font-size: 12px;
    }
        .banner-btn, .img-txt-btn {
    margin-top: 0px;
}
    .img-txt-txt p span {
        display: none;
    }
        .img-txt-txt p {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .info-footer-cts {
        gap: 10px;
        flex-direction: column;
    }
        .banner-btn a, .img-txt-btn a, .event-content a.event-button, .card-body a.btn, .gallery-btn a.btn.btn-danger.px-4.py-2, .footer-contact form button {
        padding: 11px 20px !important;
        font-size: 12px;
    }
        #events-section .card-body .btn {
        padding: 8px 22px !important;
        font-size: 11px;
    }


    
}
@media (max-width: 836px) {

        section#home-banner .container, .img-txt-section .container, footer .container {
        max-width: 730px;
    }
        .gallery-img-1.img-5 img {
        height: 35vw !important;
    }
       div#reviewsCarousel .swiper-slide {
        width: 665px !important;
    }
    .banner-btn a, .img-txt-btn a, .event-content a.event-button, .card-body a.btn, .gallery-btn a.btn.btn-danger.px-4.py-2, .footer-contact form button {
        padding: 11px 25px;
        font-size: 11px;
    }
        #events-section .card-body .btn {
        padding: 10px 22px !important;
        font-size: 11px;
    }

    
}
@media (max-width: 800px) {
    
}
@media (max-width: 768px) {
            section#home-banner .container, .img-txt-section .container, footer .container {
        max-width: 700px;
    }
    .gallery-img-1.img-5 img {
        height: 38vw !important;
    }
        div#reviewsCarousel .swiper-slide {
        width: 670px !important;
        margin: 0px 22px !important;
    }
        div#header-menu-col .menu-list ul.menu-list-item.d-flex li {
        font-size: 13px;
    }
    .gallery-img-1 {
    margin-bottom: 28px;
}

    
}
@media (max-width: 480px) {
.gallery-desk-sec {
    display: none;
}
        .info-footer-cts {
        gap: 15px;
        flex-direction: row;
    }
        section#gallery-section {
        padding: 50px 10px 35px !important;
    }
    li.menu-mob {
    display: block;
}
    .gallery-section-mobile {
    display: block !important;
}
.logo_img img.img-fluid {
    max-width: 35% !important;
}
    .header-social-content.d-flex {
    display: none !important;
}
.logo_img {
    justify-content: flex-start;
}
div#header-menu-col {
    display: none;
}
    header .row {
    width: 100%;
}
    div#header-logo {
        padding: 0px 30px !important;
        width: 100% !important;
    }
    .event-card {
    flex-direction: column;
}
.event-image img {
        width: 380px;
        margin-bottom: 30px;
}
.footer-logo img {
    width: 45%;
    margin-bottom: 25px;
}
    .social-icon.footer-social-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
    .footer-social-content p {
    display: none;
}
.banner-slider {
        padding: 230px 15px 30px 15px;
}
.banner-subheading h4 {
        font-size: 40px;
        margin-bottom: 0px;
}
.banner-main-heading h1 {
        font-size: 45px;
        line-height: 50px;
}
.img-txt-section {
        padding: 43px 10px 45px;
        background-position: bottom;
}
.img-txt-main-img {
    margin-bottom: 20px;
}
.events-sec-heading {
        width: 100%;
}
#upcoming-events h2.section-heading {
        width: 100%;
}
section#events-section {
        padding: 30px 30px !important;
}
.event-content {
        padding-left: 15px;
}
.gallery-heading h2.fw-bold {
        font-size: 24px;
}
.img-txt-subheading h4 {
        font-size: 35px;
        margin-bottom: -10px;
}
.events-sec-heading h2 {
        font-size: 25px;
}
.events-sec-subheading h4 {
    font-size: 34px;
    margin-bottom: -10px;
}
.section-heading {
        font-size: 26px;
}
.section-subheading {
    font-size: 32px;
    margin-bottom: -10px;
}
    .reviews-headings h2 {
        font-size: 23px;
    }
        div#reviewsCarousel .swiper-slide {
        width: 430px !important;
        margin: 0px 22px !important;
    }
    .img-txt-img-col {
    margin-top: 60px;
}
    .img-txt-section .row {
    display: flex;
    flex-direction: column-reverse;
}
.gallery-heading h2 span {
    font-size: 35px;
    margin-bottom: -30px;
}
.gallery-btn {
    display: none;
}
.event-card {
    padding: 25px 25px 25px 25px;
}
.desk-banner {
    display: none;
}
.mob-banner-cts {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
        .banner-txt {
        padding-right: 10px;
    }
    .swiper-slide.banner-slider.banner-3 {
    background-image: url("assets/images/mob-banner-4.png") !important;
    background-position: bottom;
}
   .menu-list {
        display: none; /* Hide by default */
        flex-direction: column;
        background: #da1d45;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .menu-list.active {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 520px;
        margin-top: 20px;
        padding: 0px 10px !important;
    }
    .menu-list li {
        padding: 11px 0;

    }
    .menu-list li a {
        color: white;
        text-decoration: unset;
    }
        .mobile-menu-icon {
        display: block;
        text-align: end;
        margin-top: -60px;
    }
        .footer-logo p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    footer {
    padding: 40px 12px 20px;
}
.footer-form-input {
        gap: 0px;
    }
        .footer-logo p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .footer-contact, .footer-social {
    margin-top: 40px;
}
        .footer-social {
        padding-left: 15px;
    }
span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
    .swiper-pagination.gallery-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        position: relative;
        padding-bottom: 19px;
        z-index: 999999 !important;
        bottom: -20px;
    }
    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 5px solid #dc3545;
    width: 15px;
    height: 15px;
    background-color: #fff;
}


    
}
@media (max-width: 430px) {

        .event-image img {
        width: 350px;
        margin-bottom: 20px;
    }
    .reviews-headings h2 {
        font-size: 20px;
    }
.gallery-heading h2.fw-bold {
     font-size: 22px;
}
    .reviews-headings h4 {
    font-size: 34px;
}
        div#reviewsCarousel .swiper-slide {
        width: 373px !important;
        margin: 0px 22px !important;
    }
        .mob-banner-cts {
        margin-top: 40px;
    }
    .footer-menu li a {
        font-size: 11px;
    }
    .footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid #fff;
    margin-top: 30px;
}
    .footer-copyright .footer-menu li a {
    font-size: 14px;
}
    .footer-menu li {
    margin: 0 5px;
}
    .footer-copyright {
    margin-top: 15px;
    align-items: center;
    flex-direction: column;
}
    .footer-copyright .footer-bottom.txt-cts {
    margin-top: 0px;
}
    .event-date, .event-location {
        font-family: 'Poppins', sans-serif !important;
    }




    
}
@media (max-width: 425px) {
    
}
@media (max-width: 415px) {
        .review-card.p-4.bg-white.rounded.shadow {
    border-radius: 30px !important;
    padding: 30px 15px !important;
}
        .banner-slider {
        padding: 230px 10px 30px 10px;
    }
    div#reviewsCarousel p.mb-0.text-start {
        font-size: 12px;
    }
    .review-card img {
    display: block;
    width: 90px !important;
}
        div#reviewsCarousel .swiper-slide {
        width: 361px !important;
        margin: 0px 22px !important;
    }

    
}
@media (max-width: 395px) {
.events-sec-heading h2 {
        font-size: 24px;
    }
        .section-heading {
        font-size: 24px;
    }
    .gallery-heading h2.fw-bold {
        font-size: 20px;
    }
    .event-image img {
        width: 320px;
        margin-bottom: 20px;
    }
        .reviews-headings h2 {
        font-size: 19px;
    }
        div#reviewsCarousel .swiper-slide {
        width: 342px !important;
        margin: 0px 22px !important;
    }
            .banner-slider {
        padding: 230px 0px 30px 0px;
    }


    
}
@media (max-width: 390px) {

    div#reviewsCarousel .swiper-slide {
        width: 340px !important;
        margin: 0px 22px !important;
    }

    
}
@media (max-width: 380px) {

.event-image img {
        width: 300px;
        margin-bottom: 15px;
    }
    #upcoming-events {
    padding: 40px 0;
}
        div#reviewsCarousel .swiper-slide {
        width: 324px !important;
        margin: 0px 22px !important;
    }

    
}
@media (max-width: 360px) {
img.banner-2.img-fluid {
    WIDTH: 89%;
}
        .events-sec-heading h2 {
        font-size: 20px;
    }
        .section-heading {
        font-size: 22px;
    }
        .gallery-heading h2.fw-bold {
        font-size: 18px;
    }
        .reviews-headings h2 {
        font-size: 16px;
    }
        div#reviewsCarousel .swiper-slide {
        width: 308px !important;
        margin: 0px 22px !important;
    }
.event-image img {
        width: 280px;
        margin-bottom: 15px;
    }
        .img-txt-main-heading h1 {
        font-size: 25px;
    }
    .section-subheading {
        font-size: 28px;
        margin-bottom: 0px;
    }
    .events-sec-subheading h4 {
        font-size: 28px;
        margin-bottom: 0px;
    }
    section#home-banner .swiper-pagination.custom-swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
}


    
}
@media (max-width: 320px) {
        .event-image img {
        width: 250px;
        margin-bottom: 15px;
    }
        div#reviewsCarousel p.mb-0.text-start {
        font-size: 12px;
        text-align: center !important;
    }
        img.banner-2.img-fluid {
        WIDTH: 89.5%;
    }

        .img-txt-main-heading h1 {
        font-size: 22px;
    }
        .events-sec-heading h2 {
        font-size: 18px;
    }
        .section-heading {
        font-size: 20px;
    }
        .event-card {
        padding: 25px 15px 25px 15px;
    }
    .gallery-heading h2.fw-bold {
        font-size: 16px;
    }
        .gallery-heading h2 span {
        font-size: 28px;
        margin-bottom: -30px;
    }
    .reviews-headings h2 {
        font-size: 14px;
    }
    .reviews-headings h4 {
        font-size: 28px;
        margin-bottom: 0px;
    }
        .img-txt-subheading h4 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    div#reviewsCarousel .swiper-slide {
        width: 270px !important;
        margin: 0px 22px !important;
    }
        .banner-main-heading h1 {
        font-size: 40px;
        line-height: 42px;
    }
        .banner-subheading h4 {
        font-size: 34px;
        margin-bottom: 0px;
    }
    .footer-menu li a {
        font-size: 9px;
    }
    .footer-copyright .footer-menu li a {
        font-size: 12px;
    }
    .review-card.p-4.bg-white.rounded.shadow .d-flex.align-items-center {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


    
}
